.info {
    margin-top: 5vh;
    h2 {
        font-size: 3em;
        margin: 10vh 5vw 2vh;
        border-top: 2px solid $cor-primaria;
        padding-top: 1em;
    }
    div {
        display: flex; 
        align-items: center;
        justify-content: space-around;
        .flex-column {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
        }
        p {
            line-height: 1.5em;
            letter-spacing: 1px;
            font-size: 1.5em;
            width: 50vw;
        }
        ul {
            list-style: disc;
            margin-left: 1.2vw;
            li {
                margin: 4px 0;
            }
        }

        img {
            width: 20vw;
        }
    }
}